// Following is a sample configuration, you can have either Include_Shared_Libraries, Include_Functions_IN or both

Include_Shared_Libraries = comma, seperated, list, of, shared, library, names, ending, with, semicolon; 

Include_Functions_IN {

	// You can have any number of Shared_Library_Name entries
	
	[Shared_Library_Name = Name_Of_The_Shared_Library;
	Function_Starting_With = Names, of, the, functions, or, starting, words;]
}